head {
    h2 {font-family: 'Times new roman', serif;}
}
title { justify-content: center;
align-items: center;
font-family: 'Times New roman';} 

h2{ align-items: center;}
body {
    background-color: #ffffff;
    justify-items: center;
    align-items: center;
    display: flex;
    font-family: 'Times New Roman';
    height: 90vh;
    h3{font-family: cursive;}
}
.input-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #e3d5e3;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    align-items: center;
}
.main-container{
    background-color: #d6d6d6;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 720px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0,5);
    padding: 20vx;
}

.result-row {
    width: 45%;
    background-color: #d5bdaf;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    text-align: center;
}
.input-group, .output-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 5px;
}
.button-group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
input{
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #d6ccc2;
    text-align: center;
}